body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: white;
  text-align: center;
}


#container {
  background-color: #bbdde0;
  border-style: solid;
  border-radius: 50px;
  height: 625px;
  width: 450px;
  margin: 100px auto;
}

  h1 {
    background: #f8f6f7;
    color: rgb(8, 8, 8);
    margin: 0;
    padding: 20px 75px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
        }

   form {
     padding-top: 20px;
     padding-left: 20px;
    }
  

  #billamt {
    padding: 12px 12px 10px 10px;
    font-size: 14px;
    background-color: #f7f7f7;
    border: 3px solid #0c0c0c;
    outline: none;
    }

  
   #splitamt {
    padding: 12px 12px 10px 10px;
    font-size: 14px;
    background-color: #f7f7f7;
    border: 3px solid #0c0c0c;
    outline: none;
     }
  

  #qualofsvc {
    padding: 12px 12px 10px 10px;
    font-size: 14px;
    border: 3px solid #0c0c0c;
  }
  
  #totaltipamt {
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }


  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: hsl(182, 39%, 55%);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: white;
  }
  
  button:hover {
    background: hsl(182, 46%, 39%);
    border-bottom-color: #111;
  }
  
  button:active {
    position: relative;
    top: 3px;

  }
